hr{
    border-color: #d6e2f5 !important;
}
.self-info{
    width: 100%;
    margin: 0 auto;
}
.self-info > * > ul{
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin: 15px 0;
}
.self-info > * > ul > li{
    list-style-type: none;
}
.my-photo{
    display: inline-block;
    width: 250px;
    height: 350px;
    box-shadow: 5px 5px 15px grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/IMG_4277.JPG)
}
.my-info{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 295px);
    margin: 0 0 0 40px;
}
.my-info > div {
    width: 25px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://angular.io/assets/images/logos/angular/angular.svg)
}
.my-info > h2 {
    margin: 0 0 1.1em 0;
}
.my-info > ul.typing-list > li {
    white-space: nowrap;
    overflow: hidden;
}
.my-info > ul.typing-list > li:first-child {
    width: 16em;
    animation: typing 2s steps(16, end);
}
.my-info > ul.typing-list > li:nth-child(2) {
    width: 30em;
    animation: typing2 6s steps(30, end);
}
.my-info > ul.typing-list > li:nth-child(3) {
    width: 30em;
    animation: typing3 10s steps(30, end);
}
.my-info > ul.typing-list > li:nth-child(4) {
    width: 30em;
    animation: typing4 15s steps(30, end);
}
.work-comp{
    display:inline-block;
    margin: 15px 0;
    margin-bottom: 5px;
    width:50%;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.1em;
}
.work-time{
    display:inline-block;
    margin:5px -4px;
    width:50%;
    text-align: right;
}
.work-title{
    margin-top:0px;
}
.work-info{
    margin-top: 15px !important;
}
.skill-list{
    margin-top: 0 !important;
}
.skill-list > li{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}
.skill-list > li:first-child{
    background-image: url(./images/logo/angular-logo.png);
}
.skill-list > li:nth-child(2){
    width: 75px;
    height: 70px;
    background-image: url(./images/logo/bootstrap-logo.png);
}
.skill-list > li:nth-child(3){
    margin: 0 5px;
    width: 50px;
    height: 70px;
    background-image: url(./images/logo/css3-logo.png);
}
.skill-list > li:nth-child(4){
    background-image: url(./images/logo/git.logo.png);
}
.skill-list > li:nth-child(5){
    width: 60px;
    height: 60px;
    background-image: url(./images/logo/JS-logo.png);
}
.skill-list > li:nth-child(6){
    background-image: url(./images/logo/Java-logo.jpg);
}
.skill-list > li:nth-child(7){
    background-image: url(./images/logo/webpack-logo.png);
}
@keyframes typing {
    from { width: 0 }
}
@keyframes typing2 {
    0%{ width: 0 }
    40%{ width: 0 }
    100%{ width: 100 };
}
@keyframes typing3 {
    0%{ width: 0 }
    60%{ width: 0 }
    100%{ width: 100 };
}
@keyframes typing4 {
    0%{ width: 0 }
    70%{ width: 0 }
    100%{ width: 100 };
}