.exp-detail{

}
.exp-detail > p{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0;
    text-align: justify;
}
.exp-detail > .exp-img{
    display: inline-block;
    width: 50%;
}

.exp-img > img {
    margin: 10px !important;
    margin-top: 0px !important;
    width:300px;
    height: 160px !important;
}
p:nth-child(even) {
    padding-left: 20px !important;
}
p:nth-child(odd) {
    padding-right: 20px !important;
}