.exp-detail{

}
.exp-detail > p{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0;
}
.exp-detail > .exp-img{
    display: inline-block;
    width: 50%;
}

.exp-img > img {
    margin: 10px !important;
    margin-top: 0px !important;
    width:300px;
    height: 160px !important;
}