.exper-content{
    padding-top: 0;
}
.exper-area:last-child{
    border-bottom: 2px solid #ededed;
}
.exp-title{
    display: flex;
    background: #ffdfe6;
    font-weight: bold;
    line-height: 1.1em;
    padding: 22px;
    font-size: 22px;
    border: 2px solid #ededed;
}
.exper-area:nth-child(2) > .exp-title{
    background: #ffe8c6;
}
.exper-area:nth-child(3) > .exp-title{
    background: #fff4c0;
}
.exper-area:nth-child(4) > .exp-title{
    background: #e6ffea;
}
.exper-area:nth-child(5) > .exp-title{
    background: #dbf5ff;
}
.exp-detail{
    border: 2px solid #ededed;
    border-top: 0;
    border-bottom: 0;
}
.exp-detail > div{
    display: inline-block;
    width: 58%;
    font-size: 16px;
    vertical-align: top;
    margin: 0;
    text-align: justify;
    padding: 22px;
}
.exp-detail > div > p{
    margin: 0;
}
.exp-detail > div > ul{
    color: gray;
    margin: 10px;
    padding-left: 15px;
}

.exp-detail > .exp-img{
    display: inline-block;
    width: 40%;
}
.exp-img{
    padding: 15px;
}
.exp-img > a > img {
    border: 1px solid #ededed;
    margin: 10px !important;
    margin-top: 0px !important;
    width:300px;
    height: 160px !important;
}
.sticky{
    width: calc(70% - 40px);
    position:fixed;
    top: 80px;
    z-index:100;
}
.exper-area:nth-child(2) > .exp-title.sticky{
    top: 150px;
}
.exper-area:nth-child(3) > .exp-title.sticky{
    top: 220px;
}
.exper-area:nth-child(4) > .exp-title.sticky{
    top: 290px;
}
.exper-area:nth-child(5) > .exp-title.sticky{
    top: 360px;
}
.sticky + .exp-detail, .sticky-2 + .exp-detail, .sticky-3 + .exp-detail,
.sticky-4 + .exp-detail, .sticky-5 + .exp-detail{
    padding-top: 64px;
}